:root{

  --size-width : 1200px;
  --size-height : 900px;
}


#main-photo{
display: flex;
justify-content: center;
margin-top: 105px;
}

.main-text{
  width: 300px;
  height: var(--size-height);
  background: #86e28c;
}
.slider{

  width: var(--size-width);
  height: var(--size-height);
  overflow: hidden;
}

.slides{
  width: 500%;
  height: var(--size-height);
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 1s;
}

.slide img{
  width: var(--size-width);
  height: var();
}

/* css for manual slide navagation */

.navagation-manual{
position: absolute;
width: var(--size-width);
margin-top:-326px;
display: flex;
justify-content: center;

}

.manual-btn{
  border: 2px solid #86e28c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}


.manual-btn:hover{
  background: #86e28c;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}


/* css for automatic slide navagation */

.navagation-auto{
  position: absolute;
  display: flex;
  width: var(--size-width);
  justify-content: center;
  margin-top: 573px;
}

.navagation-auto div{
  border: 2px solid #86e28c;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}


.navagation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navagation-auto .auto-btn1{
  background: #86e28c;
}
#radio2:checked ~ .navagation-auto .auto-btn2{
  background: #86e28c;
}
#radio3:checked ~ .navagation-auto .auto-btn3{
  background: #86e28c;
}
#radio4:checked ~ .navagation-auto .auto-btn4{
  background: #86e28c;
}
