@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600&display=swap');
@import "variables.css";
@import 'main-photo.css';
/*components*/
@import "components/main-header.css";

/*screen*/
@import "screen/footer.css";

body{
  font-family: 'Noto Sans KR', sans-serif;
  height: 110vh;
}

a{
  text-decoration: none;
  color: black;
}

button,
button:active,
button:focus{
  border: none;
}

button:hover{
  cursor: pointer;
}

button{
  background-color: inherit;
}
