.main-header{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color:var(--color-light-blue);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}


.header__login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-main);
  padding-bottom: 5px;
}
.header__login-list{
  display: flex;
  justify-content: flex-end;

}
.header__login-list a{
  margin-left: 15px;
}

.header__contents{
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.header__login-logo{

  padding-left: 20px;
  box-sizing: border-box;

}

.header__login-logo a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__login-logo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.header__contents-menu{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-top: 5px;
}
.header__contents-menulist{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.fa-campground{
  margin-right : 10px;
}

.toggle-button{
  position: absolute;
  right: 30px;
  top: 80px;
  display: none;
}

.header__contents-menulist li:hover{
  background-color: #2196f3;
  border-radius: 5px;
}

.header__contents-menulist li{
  padding: 10px;
}
@media screen and (max-width : 728px){

.toggle-button{
  display: block;
}

.header__contents-menulist{
  flex-direction: column;
  display: none;
}
}